@media screen and (max-width: 320px) {
    .avatar_contact {
        margin-top: 40px;
opacity: 1;
    }
  }
/* .facebook:hover {
    fill:"green"
} */

.avatar_contact img{
    width: 4%;
    margin-top: 50px;
    padding-right: 20px;
}


